<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd 
                http://www.springframework.org/schema/mvc 
                http://www.springframework.org/schema/mvc/spring-mvc.xsd
                http://www.springframework.org/schema/task
				http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	<!-- 开启组件扫描 -->
	<context:component-scan base-package="com.ylch.web.action"/> 
	<!-- 支持异步方法 -->
	<!-- <task:annotation-driven/> -->
<!--  <task:executor id="myexecutor" pool-size="5"  />  
 <task:annotation-driven executor="myexecutor"/>   -->
	
	<!-- 开启mvc注解驱动  加载处理器映射器和处理器适配器-->
	<mvc:annotation-driven>
	<!-- 处理请求时返回json字符串的中文乱码问题 -->
	        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 转换器工厂 -->
	<!-- <bean id="convertorServiceFactory" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<
		</property>
	</bean> -->
	
	<!-- 配置视图解析器 -->
	 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	
		<property name="prefix" value="/WEB-INF/jsp/"></property>
	
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 配置拦截器 -->
 
	<!-- 配置异常处理器 -->
	<!-- <bean class="com.yuan.exceptionresolver.CustomExceptionResolver"></bean> -->
	
	<!-- 配置 文件上传解析器 -->
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		设置文件上传的最大值
		<property name="maxUploadSize" value="2097152"></property>
	</bean> -->
	</beans>
